/*
 * medium: 960px
 * small: 639px
 */

body
{
    font-family: "游ゴシック体", "YuGothic", "游ゴシック", "Yu Gothic", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", sans-serif;
    font-size: 18px;
}

main
{
    background-color: #F5F5F5;
}

header
{
    background-color: #D7EEFF;
}

.auto-paragraph
{
    word-wrap: break-word;
}

.header-height
{
    height: 120px;
}

.min-height
{
    min-height: 650px;
}

footer
{
    background-color: #008080 !important;
    color: white;
}

.header-title
{
    width: 390px;
    height: 90px;
}

th, td
{
    padding-right: 0px !important;
    padding-left: 0px !important;
}

#locations_checkbox, #search, .small-subbar, .medium-subbar, .small-divider, .medium-divider, .medium-div, .small-sidebar
{
    display: none;
}

.active a  {
    color: red;
    font-size: 1.3rem;
}

.bgc-h3
{
    /*background-color: hsla(50, 33%, 25%, .75);*/
    background-color: rgba(255, 255, 128, .5);gT
}

.patient-view-top-color
{
    background-color: rgba(255, 255, 128);
}

.div-align-left
{
    padding-left: -40px !important;
}

.main-width
{
    width: 1020px;
}

.padding-top
{
    padding-top: 30px;
}

.padding-left
{
    padding-left: 40px;
}

.padding-right
{
    padding-right: 40px;
}

.padding-bottom
{
    padding-bottom: 30px;
}

.header-small-nav, .small-table
{
    display: none !important;
}

.small-link
{
    width: 110px;
    height: 110px;
}

.search-icon
{
    width: 100px;
    height: 80px;
}

.main-link
{
    width: 130px;
    height: 90px;
}

.pro-image
{
    background-color: green;
}

.pro-image-back
{
    background-color: red;
}

.grid-nest
{
    padding-left: 40px !important;
}

.grid-nest-margin
{
    margin-left: 40px !important;
}

.management-sub-button
{
    width: 130px;
}

.form-label-text
{
    font-size: 20px;
}

.checkbox-margin
{
    margin-top: -21px;
    padding-left: 50px;
}

.password-form-width
{
    width: auto !important;
}

.small-margin-right
{
    margin-right: 20px;
}

.middle-padding-remove-left
{
    padding-left: 0 !important;
}

.login-form-width
{
    width: 400px;
}

.grid-margin-remove
{
    margin-left: 0 !important;
    /*
    padding-left: 0 !important;
    */
}

.grid-margin-remove>.grid-child
{
    padding-left: 0 !important;
}

.form-width-long
{
    width: 500px !important;
}

.label-background
{
    background-color: rgba(255, 255, 128, .5);gT
}

.bgc-ffffcc
{
    background-color: #FFFFCC;
}

.bgc-66ff66
{
    background-color: #66FF66;
}

.text
{
    width: 100%;
    word-wrap: break-word;
    overflow-wrap: break-word;
}

.liststyle
{
    list-style: none;
}

.liststyle>li
{
    margin-top: 10px;
}

.input-textarea
{
    width: 100%;
    max-width: 100%;
    height: 100px;
}

@media(max-width: 959px)
{
    .medium-padding
    {
        padding-right: 3rem;
        padding-left: 3rem;
    }

    .medium-padding-right
    {
        padding-right: 3rem;
        padding-left: 3rem;
    }

    .medium-padding-left
    {
        padding-right: 3rem;
        padding-left: 3rem;
    }

    .medium-margin
    {
        margin-right: 3rem;
        margin-left: 3rem;
    }

    .middle-padding-remove-left
    {
        padding-left: 30px !important;
    }

    .form-width-long
    {
        width: 300px !important;
    }

    .medium-padding-remove-lr
    {
        padding-right: 0 !important;
        padding-left: 0 !important;
    }

    .medium-subbar
    {
        display: block;
        width: 100%;
        padding-left: 0 !important;
        margin-bottom: 30px !important;
    }

    .medium-subbar-li
    {
        margin-right: 20px;
        margin-left: 20px;
    }

    .medium-subbar-height
    {
        min-height: 50px !important;
    }

    .medium-remove, .default-divider
    {
        display: none;
    }

    .medium-divider, .medium-div
    {
        display: block;
    }

    .padding-left
    {
        padding-left: 30px !important;
    }
}

@media(max-width: 639px)
{
    .small-link, .medium-table, .medium-div, .small-remove
    {
        display: none;
    }

    .header-small-nav, .small-table
    {
        display: inline !important;
    }

    .small-divider, .small-sidebar
    {
        display: block;
    }
    
    .small-margin-right
    {
        margin-right: 0;
    }

    .main-link
    {
        width: 100%;
        height: 60px;
    }

    .login-form-width
    {
        width: 300px;
    }

    .small-subbar
    {
        display: block;
        width: 100%;
        padding-left: 0 !important;
        margin-bottom: 30px !important;
    }

    .small-subbar-li
    {
        margin-right: 20px;
        margin-left: 20px;
    }

    .small-subbar-height
    {
        min-height: 50px !important;
    }

    .management-sub-button
    {
        width: 70px;
    }

    .padding-left
    {
        padding-left: 20px !important;
    }
}

@media(max-width: 1019px)
{
    .main-width
    {
        width: 100%;
    }
}

@media(max-width: 1039px)
{
    .medium-padding-left
    {
        padding-left: 2rem;
    }

    .medium-padding-right
    {
        padding-right: 2rem;
    }
}
